@font-face {
    font-family: 'CustomHeading';
    src: url('./font/AltoneTrial-Bold.ttf');
}

html {
    font-family: 'CustomHeading';
    src: url('./font/AltoneTrial-Bold.ttf');

}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    /* background-color: rgba(240, 255, 255, 0.185); */
    background-color: transparent;
}

.container {
    display: flex;
    align-items: center;
    height: 100vh;
    margin: auto 100px;

}

.container div {
    width: 50%;
}

.content h1 {
    font-family: 'CustomHeading';
    font-size: 4em;
    font-weight: bold;
}

.content h1 span {
    color: #4071f4;

}

a {
    text-decoration: none;
}

.content a.btn {
    background-color: #4071f4;
    /* opacity: 0.5; */
    color: blue;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4071f4;
    border: none;
    border-radius: 15px;
    /* box-shadow: 0 9px #999; */

}

.content a.btn:hover {
    background-color: blue
}

.content a.btn:active {
    background-color: white;
    box-shadow: 0 5px blue;
    transform: translateY(4px);
}


body {
    text-align: left;
}



.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: auto 100px;

}

.left p span {
    color: #4071f4;
    font-weight: bolder;
    font-size: 1em;
    opacity: 0.5;

}

.left {


    font-size: 25px;
    width: 600px;
    text-align: -webkit-auto;
    font-family: sans-serif;

}

.head {
    color: #4071f4;
    font-weight: bolder;
    font-size: 1em;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;

}

.circular--square {
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
}

.picture {
    text-align: center;
}

.picture img {
    width: 60%;
}

.Main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    height: 100vh;
    border-radius: 40px;
}

.right {
    display: flex;
    /* background-color: rgb(190, 216, 251, .5); */
    width: 35%;
    /* height: 51vh; */
    border-radius: 10px;
    align-items: end;
    justify-content: center;

}

.abouttext {
    background-color: rgb(190, 216, 251, .5);
    width: 60%;
    /* height: 70vh; */
    position: relative;
    padding: 10px;
    border-radius: 10px;
}

.right img {
    width: 80%;
}

/* .abouttext {
    display: grid;
    align-items: center; 
} */

.text h4 {
    position: absolute;
    top: 0;
    font-size: larger;
}

.text p {
    font-weight: 300;
}

@media (max-width:767px) {
    .container {
        margin: 0;
        display: grid;
        align-items: center;
        text-align: center;
        width: 100%;
        /* overflow: hidden; */
    }

    .container div {
        width: 100%;
    }

    .content {
        height: 55vh;
        order: 2;
    }

    .content h1 {
        font-size: 3em;
    }

    .picture {
        height: 40vh;
        order: 1;
        ;
    }

    a.btn.btn-primary {
        margin-top: 10px !important;
    }

    .Main {
        margin: 0;
        display: block;
        align-items: center;
        text-align: center;
        width: auto;

        height: 100vh;
    }

    .text {
        text-align: center;
        font-size: 1em;
        width: auto;
        height: auto;

    }

    .abouttext {
        width: auto;
        background-color: transparent;
        height: auto;
    }

    .abouttext text {
        align-items: center;
    }

    .abouttext .text h4 {
        position: initial;
    }

    .right {
        background-color: transparent;
        width: auto;
        height: auto;
    }
}

.content a.btn {
    margin-top: 10px;
    align-items: flex-start;
}






/* Skills Style */
.skill-group {
    width: 100%;
}

.skill-group>p {
    color: #000
}

.skill-bar {
    width: 100%;
    background-color: white;
    font-family: Arial, sans-serif;
    margin-bottom: 10px;
    border-radius: 10px;

    
}

.skill-value {
    text-align: right;
    color: white;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-right: 10px;


}

.html {
    width: 90%;
    background-color: #365E7D;
    

}

.js {
    width: 70%;
    background-color: #365E7D;
}

.python {
    width: 55%;
    background-color: #365E7D;
}

.vba {
    width: 70%;
    background-color: #365E7D;
}

.office {
    width: 70%;
    background-color: hsl(12, 100%, 50%);
}

.acrobat {
    width: 60%;
    background-color: hsl(12, 100%, 50%);
}


@media only screen and (max-width: 600px) {
    .Main {
    }
  }